{% extends 'index.html' %}
{% block body %}<div class=" envelope">
    <header>About this demonstrator</header>
    <article><b style="color: #1A4D5E;">HOMEPAGE</b><br />On the homepage you can find some basic info about what a
        blockchain is. You can also
        log
        out by pressing "LOGOUT" submit button. There is also a nav bar which redirects you to making specific actions –
        you can read this manual, watch my blockchain, submit a transaction, view pending transactions or mine
        them.<br /><br />
        <b style="color: #1A4D5E;">VIEW CAROLINE'S BLOCKCHAIN</b><br />Here you can watch how my blockchain grows.
        There is always an index of the block and it's transactions displayed. In every block except
        the Genesis block there are five transactions. The transactions contain info about both the sender and receiver
        of the transaction, the amount of coins which were sent and a timestamp. This feature is just static (you can
        watch, but not edit).<br /><br />
        <b style="color: #1A4D5E;">SUBMIT A TRANSACTION</b><br />
        On this page you can find a form for submitting a transaction. You are already logged in so the system knows you
        are the sender. Then you just fill the name of the receiver of your transaction (be careful about
        spelling!) and the amount of coins you want to send (decimal numbers allowed). Then the transaction will be
        assigned a timestamp and the system check whether the user exists and you have the money. If any mistake occurs,
        you will not be able to make the transaction. If not, it will be sent directly to the receiver and you will see
        the transaction in the list of pending transaction to which you will be redirected to. Then you can wait until
        someone mines the following block to hold your transaction or you can mine it on your in the "Mine"
        section. You have to send at least 2 both electricity or electricity coins.<br /><br />
        <b style="color: #1A4D5E;">VIEW PENDING TRANSACTIONS</b><br />Here you will be able to see the transactions
        waiting for a block to be mined and hold it. Again, it is just a static thing to watch. When someone mines the
        block, five oldest transaction "disappeare" from this list and are written to the blockchain.<br /><br />
        <b style="color: #1A4D5E;">MINING</b><br />In this section you can mine new blocks for the transactions. You can
        do it in order to get your transaction to the blockchain (which means to successfully end the proces of sending
        it) or you can mine blocks for others' transactions and become a "miner" – every time you mine a block, you will
        be rewarded with a set amount of electricity (the algorithm is based on percentage of the amount of coins in the
        transactions in the block).<br /><br />
        <b style="color: #1A4D5E;">VIEW PROFILE</b><br />Here you can find some info about yourself. It is not much, you
        will see your username, password (in a secure hashed form) and more importantly your <b>balance</b> – the amount
        of money or electricity you own. There is
        also a warning for you to remember your access data carefully because there is (currently) no option for account
        recovery. Keep that on mind.<br /><br />
        <b style="color: #1A4D5E;">SELL ELECTRICITY</b><br />There you can submit your offer – you just enter the amount
        of electricity you want to sell and the amount of money you want to receive from the buyer and wait for someone
        to react to your offer. If you do not have the amount of electricity you want to sell, your offer will be
        automatically deleted or will not even be submitted.<br /><br />
        <b style="color: #1A4D5E;">BUY ELECTRICITY</b><br />You can also buy electricity from the sellers – just choose
        the offer you like and make the the purchase – there will be two transactions, one from you selling money to the
        seller and the second one sending electricity to you.
    </article>
    <footer><a href='/index'>Back to homepage</a></footer>
</div>{% endblock %}