<!DOCTYPE html>
<html lang='eng'>

<head>
  <title>Caroline's blockchain demonstrator</title>
  <meta charset='utf-8'>
  <meta name='description' content=''>
  <meta name='keywords' content=''>
  <meta name='author' content=''>
  <meta name='robots' content='all'>
  <!-- <meta http-equiv='X-UA-Compatible' content='IE=edge'> -->
  <link href="{{url_for('static', filename='favicon.ico')}}" rel='shortcut icon'>
  <link rel=" stylesheet" href="{{ url_for('static', filename='css/format.css') }}">
</head>

<body>
  {% block body %}
  <div class=" envelope" style="padding-top: 0px;">{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <b>
      <p style="text-align: right; color:#1A4D5E; margin-right: 30px;">{{msg}}</p>
    </b>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <header>
    WELCOME TO MY BLOCKCHAIN DEMONSTRATOR!
    </header>
    <nav>
      <ul>
        <li><a href="/demonstrator">About this demonstrator</a></li>
        <li><a href="/blockchain">View Caroline's blockchain</a></li>
        <li><a href="/new_transaction">Submit a transaction</a></li>
        <li><a href="/pending_tx">View pending transactions</a></li>
        <li><a href="/mining">Mining</a></li>
        <li><a href="/view_profile">View profile</a></li>
        <li><a href="/sell_electricity">Sell electricity</a></li>
        <li><a href="/buy_electricity">Buy electricity</a></li>
      </ul><br />
      <form action="logout" method="POST">
        <input type="submit" value="LOGOUT" style="color: #1A4D5E; background: none; border-style: dashed; font-weight: bold;
           font-family: 'Times New Roman', Times, serif; font-size: medium; border-color: #1A4D5E; border-radius: 0%;
           border-left: none; border-right: none;" />
      </form>
    </nav>
    <article>

      This is a blockchain demonstrator created by Karolina Podivinska as a part of her SOC work. It's purpose is to
      demonstrate how blockchain works (and could work implemented into electricity commerce). Use the nav bar to reach
      individual properties. The user manual is available in the "About this demonstrator"
      tab.<br /><br />
      So – <b style="color: #1A4D5E;">WHAT IS A BLOCKCHAIN?</b><br /><br />
      Blockchain is a chain of blocks chained together. Each block in my blockchain has six 
      attributes. Firstly, the timestamp, which is saying when exactly the block was added to the 
      blockchain. Then comes the hash of the previous block – a hash is a shortened version of all 
      the block contents computed by a specific algorithm. Each block has a unique hash, even a 
      single letter or character changed in the block contents causes a significant change in the 
      hash of that block. That is very useful, like this we know the block 101 points straight to 
      the block 100, which points straight to the block 99 and so on. If anyone would like to change 
      something for instance in the block 50, he would have to change the block 50’s contents which 
      would cause a change in the block 50’s hash. But block 51 points straight to block 50’s hash 
      and knows the hash block 51 doesn’t match with the real hash of the block 50. This is visible 
      for all the users of the blockchain so they can see someone is trying to cheat and reject such 
      a change on the blockchain, so the system is secure. Or, well, there is (at least) one option 
      how the hacker could outsmart the other users in the network. He could change all the hashes 
      of the block 50 and following up to the current block. But re–hashing all those blocks is so 
      computationally hard that it’s considered as impossible. As far as the hacker does not have 
      the 51 % of all the computational power of the network (let’s say 50 people in the network of 
      100 people would be his allies who would pretend the changes he made were valid and he is not 
      cheating. Then the rest of 49 people wouldn’t be able to prove he is cheating, this is called 
      51 % attack). These are the most basic principles of blockchain security. Back to block 
      attributes – then it’s the block’s index. This index shows how high the block in the blockchain 
      is. Imagine this like a big skyscraper – you have floor zero, in blockchain called the Genesis 
      block, and on this floor zero other floors can be built. Floor one is exactly on the floor zero,
       floor two is exactly on the floor one and so on. Then each of course has the hash of itself – 
       without that it wouldn’t be able to chain the following block. As I wrote above, a hash is a 
       special string generated by a special function which represents the block contents in a 
       shortened version. It is very sensitive to changes. The problem is not all the hashes are 
       accepted. If the block wants to be added to the blockchain, it’s hash has to satisfy some 
       difficulty rules – for instance the first ten characters of the hash has to be zeroes or the 
       hash has to start with the string “123456789”. Logically, the more complex the criteria are, 
       the harder it is to find a satisfying hash. In the process of mining (or adding the block to 
       the blockchain) the device the miner (a person who wants to add the block to the blockchain) is 
       using is trying to find such a hash in a loop until he finds some. Then, if he is first of all 
       the miners, he receives a miner reward, which motivates the miners to mine – add blocks to the 
       chain. But wait a second – how can the miners compute a hash of the block in a loop? The block 
       contents are set, so it has just one unique, unchangeable hash. The only option of changing 
       the hash is changing the block contents. But that’s what we do not want to do! So what is the 
       solution? It is very simple and elegant – there is actually one attribute in each block which 
       changes during the mining process and doesn’t change any other set stuff in the block. It is 
       called a nonce (or a counter). At the beginning of mining the nonce is set to zero. If the hash 
       over the current block with counter zero doesn’t satisfy the difficulty criteria, the mining
        comes into another iteration of the loop and the nonce is raised by one. This is repeated 
        until some satisfying hash is found. And why can’t be blocks just simply be added to the 
        blockchain? The great explanation is described in the Byzantine generals problem. Shortly, it
         prevents people from cheating, because it is not worthy to put so much effort into mining one
         evil block. If you want to add the block to the blockchain, you have to use o lot of your 
         computational power (this is called the Proof of Work and I just described it above as finding
          a hash satisfying the difficulty criteria) or the 51 % of the network has to agree you are not
           cheating (I touched that topic when writing about 51 % attack). So these are the necessary
            things each block holds. But blockchain with such block would be quiet boring and honestly 
            for nothing. The most interesting thing about blocks is a list of transactions each block 
            holds. In my blockchain each block except of the genesis block holds exactly five transactions 
            but there are many ways how to set this – it can be related to some number but also for example 
            to time etc. It is often said blockchain is just a ledger of transactions written into blocks.
             And it is a good simile, I think. When you want to send a transaction (and a “transaction” can
              also be a text message or something like that), you basically have to fill who you want to 
              make the transaction with and with what. For example, person A wants to send 0,0001 bitcoin
               to person B. When person A sets such a transaction, the amount he or she wants to send is 
               pulled out of his or her budget and the transaction waits in the list of unconfirmed or 
               pending transactions to be added in some block and then into the whole blockchain. Then the
                person B receives the money which are pushed into his or her budget. Here are naturally a 
                few questions about security. How can be person B sure person A is not lying? Does person A 
                really have the money? And is this money really coming from person A? These problems are solved
                 differently than in a basic centralized system – a bank, which looks in the database and finds
                  all these things, but still can be solved. Another key feature of decentralized blockchain is
                   its visibility. You can find the deposit and withdraw history of each account so 
                   the users of the network can verify person A has the money. This means even when
                    blockchain is decentralized, you do not have 100 % anonymity and it is very 
                    useful to know it. And the second problem – how can person B be sure the money
                     comes from person A? Each user of the network has his or her private and public
                      key. These are unique digital signatures or fingerprints. Your private key is 
                      private and you really shouldn’t show it to anyone. When you make a transaction, 
                      you “sign” and encrypt it with your private key. Like your fingerprint. Then you 
                      have also your public key – this on should be displayed somewhere where anyone can 
                      reach it because with this key anyone can decrypt the transaction (message etc.) you 
                      sent him or her to. Asymmetrical cryptography. So we have transactions in the blocks. 
                      But what about the network, where is decentralization? Each device can be part of the 
                      network and send transactions or mine. The magic behind this is that when some node in the 
                      network has it’s own copy of the blockchain and when it admits a new block was added, it 
                      spreads the news to other nodes and all of them update their copy of the chain. Then each 
                      node can see and read the whole blockchain and the data inside – all the blocks, all the 
                      transactions. And based on this they can verify another nodes have the budged, as I wrote 
                      above. So now you know basic theoretical stuff and are ready for using blockchain technology. 
                      So go ahead and enjoy my demonstrator!
    </article>
    <footer>
      created by Karolina Podivinska<br />2021
    </footer>
  </div>
  {% endblock %}
</body>

</html>