{% extends 'index.html' %}
{% block body %}<div class=" envelope">
    <header>Pending transactions</header>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <b>
        <p style="text-align: center; color:#1A4D5E; margin: 30px;">{{msg}}</p>
    </b>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <article style="text-align: center;">
        {% for _ in content %}
        {{_}}<br /><br />
        {% endfor %}
    </article>
    <footer><a href='/index'>Back to homepage</a><br /><a href='/new_transaction'>Submit a transaction</a><br /><a
            href='/mining'>Mine these transactions</a>
    </footer>
</div>{% endblock %}