{% extends 'index.html' %}
{% block body %}<div class=" envelope">
    <header>Buy electricity</header>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <b>
        <p style="text-align: center; color:#1A4D5E; margin: 30px;">{{msg}}</p>
    </b>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <article style="text-align: center;">
    <p style="text-align: center; color:#1A4D5E";>Here is the list of offers. If you want to make a purchase, remember the name of the
    offer and click BUY.<p>
        {% for _ in content %}
        {{_}}<br /><br />
        {% endfor %}
    </article>
    <article>
    <form action="#" method="POST">
    <article style="text-align: center;">
            <form action="#" method="POST">
                <input type="submit" value="BUY" />
            </form>
            </article>
    <footer><a href='/index'>Back to homepage</a>
    </footer>
</div>{% endblock %}