<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Caroline's blockchain demonstrator</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/templates/styles.css">
    <link rel="stylesheet" href="/templates/vendor.css">

    <!-- script
    ================================================== -->
    <script src="/templates/modernizr.js"></script>
    <script defer src="/templates/all.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="icon" type="image/png" sizes="16x16" href="/templates/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader"></div>
    </div>


  
    <!-- header
    ================================================== -->
    <header class="s-header s-header--carolines">
        <div class="row">

            <div class="s-header__logo">
                <a href="/templates/index.html">
        
                </a>
            </div>

            <nav class="s-header__nav">
                <ul >
                    <li><a href="/templates/index.html">Home</a></li>
                    <li><a href="/templates/read_0.html">Reading</a></li>
                    <li><a href="/view_profile">Profile</a></li>
                    <li><a href="/carolines_blockchain">Blockchain</a></li>
                    <li><a href="/new_transaction">New transaction</a></li>
                    <li><a href="/pending_tx">Mine</a></li>
                    <li><a href="/sell_electricity">Sell</a></li>
                    <li class="current"><a href="/buy_electricity">Buy</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>

            <a class="s-header__menu-toggle" href="" title="Menu">
                <span class="s-header__menu-icon"></span>
            </a>
       

        </div> <!-- end row -->
    </header> <!-- end s-header -->

{% with messages = get_flashed_messages() %} {% if messages %} {% for msg in messages %}
{{msg}}
{% endfor %} {% endif %} {% endwith %}
<section id="info" class="s-info target-section s-dark">
<div class="row block-large block-medium block-tab-full info-list">
				<div class="column info-item" width="100%" data-aos="fade-up">
                <h2 style="margin-top:0; margin-bottom:0; margin:0; padding-top:0; padding-bottom:0" align="center"><font color="#11abb0">This is the list of available offers:</font></h2>
                {% with messages = get_flashed_messages() %} {% if messages %} {% for msg in messages %}
<font color="#11abb0"><p style="margin-bottom:0; padding-bottom:0;" align="center">{{msg}}</p></font>
{% endfor %} {% endif %} {% endwith %}<br><br>
                {% for _ in content %}
                <span><p style="margin-top:0; margin-bottom:0; margin:0; padding-top:0; padding-bottom:0" align="center">{{_}}</p></span>
                {% endfor %}			
				</ul>
				</div> <!-- end info-item -->
</section> 
<form name="contactForm" id="contactForm" method="post" action="#">
<input method="POST" name="submit" id="submit" class="btn btn--primary btn-wide btn--large h-full-width" value="Buy" type="submit">
</form><!-- end s-info -->
<!-- footer
    ================================================== -->
    <footer class="s-footer">
        <div class="row">
            <div class="column large-4 medium-6 w-1000-stack s-footer__social-block">
                <ul class="s-footer__social">
                    <!-- <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li> -->
                    <li><a href="https://www.instagram.com/carolinedeutschundwir/"><i class="fab fa-instagram" aria-hidden="true">
                    </i> <span>Follow Caroline</span></a></li>
                    <!-- <li><a href="#0"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li> -->
                </ul>
            </div>

            <div class="column large-7 medium-6 w-1000-stack ss-copyright">
                <span>made by Karolina Podivinska 2021</span> 
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div>
        </div>

        </div> <!-- end ss-go-top -->
    </footer>



    <!-- Java Script
    ================================================== -->
    <script src="/templates/jquery-3.2.1.min.js"></script>
    <script src="/templates/plugins.js"></script>
    <script src="/templates/main.js"></script>

</body>

</html>