{% extends 'index.html' %}
{% block body %}
<div class="envelope">
    <header>DELETE YOUR OFFER</header>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <b>
        <p style="text-align: center; color:#1A4D5E; margin: 30px;">{{msg}}</p>
    </b>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <article style="text-align: center;">
        <p>Which offer do you want to delete?</p>
        <form action="#" method="POST">
            <input type="int" name="offer_num" placeholder="offer number" required /><br /><br />
            <input type="submit" value="DELETE" />
        </form>
    </article>
    <footer><a href='/index'>Back to homepage</a></footer>
</div>{% endblock %}