<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <!--- basic page needs
    ================================================== -->
    <title>Caroline's blockchain demonstrator</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="/templates/styles.css">
    <link rel="stylesheet" type="text/css" href="/templates/vendor.css">

    <!-- script
    ================================================== -->
    <script src="/templates/modernizr.js"></script>
    <script defer src="/templates/all.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="icon" type="image/png" sizes="16x16" href="/templates/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header">
        <div class="row">

            <nav class="s-header__nav">
                <ul>
                    <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
                    <li><a class="smoothscroll" href="#info">What is blockchain?</a></li>
                    <li><a class="smoothscroll" href="#electricity">Blockchain & electricity</a></li>
                    <li><a class="smoothscroll" href="#carolines">Caroline's demonstrator</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>

            <a class="s-header__menu-toggle" href="#0" title="Menu">
                <span class="s-header__menu-icon"></span>
            </a>

        </div> <!-- end row -->
    </header> <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="/templates/blockchain.jpg" data-natural-width="3000" data-natural-height="2000">

        <div class="s-home__content">

            <div class="s-home__slider">

                <div class="s-home__slide s-home__slide--1">
                    <div class="row">
                        <div class="column large-12 s-home__slide-text">
                            <h2>
                            Welcome to Caroline's <span>Blockchain Demonstrator</span>!
                            </h2>
                            <p>
                            A simple app that shows you how blockchain works.
                            </p>
                        </div>
                    </div>
                </div> <!-- end s-home__slide -->

                <div class="s-home__slide s-home__slide--2">
                    <div class="row">
                        <div class="column large-12 s-home__slider-text">
                            <h2>
                            Want to <a href="#info" title="">discover</a> blockchain or 
                            <a href="#info" title="">try it for yourself</a>? Then you are
                            right here!
                            </h2>
        
                        </div>
                    </div>
                </div> <!-- end s-home__slide -->
                <div class="s-home__slide s-home__slide--3">
                    <div class="row">
                        <div class="column large-12 s-home__slider-text">
                            <h2>
                            Blockchain is not just
                             <span>cryptocurrencies</span>. 
                            You can use it  <span>on your own</span>!
                            </h2>
        
                        </div>
                    </div>
                </div> <!-- end s-home__slide -->

            </div> <!-- end s-home__slider -->

        </div> <!-- end s-home__content -->

        <div class="s-home__nav-arrows">
            <div class="s-home__arrow-prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12.707 17.293L8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"/></svg>
            </div>
            <div class="s-home__arrow-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11.293 17.293l1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"/></svg>
            </div>
        </div> <!-- end s-home__nav-arrows -->

        <div class="s-home__line"></div>

    </section> <!-- end s-home -->


    <!-- info
    ================================================== -->
    <section id="info" class="s-info target-section s-dark">

        <div class="row section-head">
            <div class="column large-3 medium-12" data-aos="fade-up">
                <h2>Blockchain</h2>
                <p class="desc">Why is it so interesting?</p>
            </div>

            <div class="column large-8 medium-12 align-x-right" data-aos="fade-up">
                <p class="lead">
                Blockchain is a modern technology that has existed since the ninetees.
                The main use came from Satoshi Nakamoto and Bitcoin, however it is also
                used in many other fields such as electricity commerce. Let's read 
                something about how it actually works.
                </p>
            </div>
        </div> <!-- end section-head -->

        <div class="row block-large-1-3 block-medium-1-2 block-tab-full info-list">

            <div class="column info-item" data-aos="fade-up">
                <h5>Ledger.</h5>
                <p>
                Imagine blockchain like an open ledger. All the users of the network
                can add or verify data but no one can modify them.
                </p>
            </div> <!-- end info-item -->

            <div class="column info-item" data-aos="fade-up">
                <h5>Distributed network.</h5>
                <p>
                Realize the network is actually distributed - no authority,
                no bank, no server, no central point. All the users (nodes)
                of the network have the same rights and communicate directly
                with each other.
                </p>
            </div> <!-- end info-item -->

            <div class="column info-item" data-aos="fade-up">
                <h5>Blocks.</h5>
                <p>
                One entry of the ledger is not a simple transaction, but a block.
                Each block contains several transactions and some additional data
                as a timestamp, in order to be unique.
                </p>
            </div> <!-- end info-item -->

            <div class="column info-item" data-aos="fade-up">
                <h5>Chain of blocks.</h5>
                <p>
                How can those blocks be chained?
                In order to chain the blocks, blockchain uses asymmetric cryptography.
                Each block has it's own hash (a short, unique string representing the 
                block contents) and hash of the previous block. Hash function is not 
                inverse (hash is created from input data but input data can't be created
                from hash). So if an attacker changes data in the block
                changes, the hash of such block's data also changes and
                doesn't match the previous hash
                of the following block. The network users see that and reject the action.
                </p>
            </div> <!-- end info-item -->

            <div class="column info-item" data-aos="fade-up">
                <h5>Genesis block.</h5>
                <p>
                The very fist block of the blockchain is special, it's
                called the Genesis block. The Genesis block does not have
                a previous block, so it's previous hash is a bunch of zeros. The
                height of the Genesis block is equal to zero. Then the height of
                gradually grows with each block (it is unique for each block). Sometimes the 
                Genesis block doesn't even hold any transactions.

                </p>
            </div> <!-- end info-item -->

            <div class="column info-item" data-aos="fade-up">
                <h5>Consensus.</h5>
                <p>
                If it were easy to add blocks and there was a network error, 
                it would be easy for the attacker to change something in the 
                block and then re-hash the entire blockchain. So when a new block 
                is about to 
                be added, the user who wants to add (mine) it must prove 
                he/she has put enough effort in it (eg his/her computing power).
                That ensures that the potential fraud does not pay off for the 
                attacker. It also encourages the users to add new blocks – 
                the node (miner) who meets the network requirements for addition 
                of the block first receives a reward 
                in the form of network tokens.
                </p>
            </div> <!-- end info-item -->

            <div class="column info-item" data-aos="fade-up">
                <h5>Forks.</h5>
                <p>
                The order of the blocks in the blockchain is based on their timestamps, 
                ie the time
                each block was added to the blockchain. Sometimes it happens that
                two blocks are added at the same time. In such a case it needs to
                be judged by which branch the blockchain will continue. One of the
                basic algorithms is the longest chain rule. The network waits for 
                the next block which is then chained to one of the two controversial 
                blocks.
                The branch the very new block was added to is the longest, so the
                the direction is clearly defined and the other controversial block
                can be discarded.

                </p>
            </div> <!-- end info-item -->

            <div class="column info-item" data-aos="fade-up">
                <h5>Transaction authorization.</h5>
                <p>Blockchain transactions need authorization. Otherwise, 
                each node could credit the tokens of another node without it's permission.
                To guarantee this, asymmetric cryptography is used again. Each node has
                it's own private and public key. Using a private key, it creates a unique 
                digital signature for each transaction that clearly identifies it (but does 
                not disclose the private key of).
                </p>
            </div> <!-- end info-item -->

            <div class="column info-item" data-aos="fade-up">
                <h5>Double spending.</h5>
                <p>Double spending is a problem where one user wants 
                to send the same tokens to two recipients. In practice, it is usually 
                handled by a central point (a bank that records which tokens who sent 
                to whom and when). However, there is no central authority in the 
                blockchain, therefore. However, all transfers are recorded (an open ledger, 
                remember?). So if user X tries to send token # 120 to user Y and a second 
                later to user Z, the network will already know that token # 120 belongs to 
                user Y and will reject the transaction.
                </p>
            </div> <!-- end info-item -->

            <div class="column info-item" data-aos="fade-up">
                <h5>51 % Attack.</h5>
                <p>51 % Attack is a problem where one user owns 51 % of the network (ie
                51 % of the computational power or 51 % of the network tokens etc) and
                so is able to verify his fraudulent transactions. If he changed something 
                in the previous blocks and had to re-hash the blockchain, we know it wouldn't 
                pay off. So the only real option seems to be to attach a fraudulent transaction 
                to a block that is currently being mined. That would pass. Therefore, it is very 
                important that network resources are not distributed very unevenly.
                </p>
            </div> <!-- end info-item -->

            <div class="column info-item" data-aos="fade-up">
                <h5>Anonymity.</h5>
                <p>Blockchain is often mistaken by the public for being completely anonymous. 
                This is not true from the essence of transaction registration - if a given blockchain 
                does not use any software that would try to hide the addresses of individual users 
                (address mixing), it is very easy to find out how many tokens have ever come to 
                which account. This fact has helped to detect many fraudsters in dark markets. In general, 
                it can be said that blockchain is one of the more anonymous technologies, but it is 
                definitely not completely anonymous.
                </p>
            </div> <!-- end info-item -->

            <div class="column info-item" data-aos="fade-up">
                <h5>Private blockchains.</h5>
                <p>With the growing popularity of the technology, many companies or schools are implementing 
                their own private blockchains. However, in this case, the very essence of the blockchain, ie 
                the distributed network, disappears, because the company or school is its owner and administrator, 
                and has greater privileges, which contradicts the essence of blockchain. So, the use of blockchain 
                technology in this way can bring some technical benefits to their owners, but they are definitely 
                different from the main purpose for which the blockchain is used.
                </p>
            </div> <!-- end info-item -->


        </div> <!-- end info-list -->

    </section> <!-- end s-info -->


    <!-- electricity
    ================================================== -->
    <section id="electricity" class="s-electricity target-section">

        <div class="row section-head">
            <div class="column large-3 medium-12" data-aos="fade-up">
                <h2>Blockchain & electricity</h2>
                <p class="desc">How can blockchain help the electricity commerce?</p>
            </div>

            <div class="column large-8 medium-12 align-x-right" data-aos="fade-up">
                <p class="lead">
                Blockchain is used mainly with cryptocurrencies, but also in other sectors such as
                electricity trade. So what are the advantages blockchain can bring in here? 
                </p>
                <p class="lead">
                Blockchain in electricity commerce is most often used in the network of local retailers, 
                who provide each other 
                with electricity from their solar panels. Both entry and the exit from the sales network 
                is free, which motivates the connection of more and more sellers. They can set their 
                own prices. <br>The distance between the buyer and the seller is also crucial for the sale. 
                While electricity normally travels to households over long wires and through other 
                devices, in a distributed system we can easily sell electricity to our neighbors, 
                which will greatly reduce transportation costs and thus significantly reduce the overall 
                price of electricity, which attracts new customers. The buyer thus negotiates 
                directly with the seller (no third party or authoritative seller), has a lot more offers 
                to choose from, which he can compare, and with his purchase supports, for example, someone 
                he knows and trusts.
                </p>
                <p class="lead">
                Thanks to the blockchain, the overall approach to electricity sales can change. It also 
                offers the possibility of selling to small suppliers, who are significantly disadvantaged 
                in the current mostly centralized model. However, such a system is still in its infancy. 
                Although Blockchain is a very powerful software tool, the question remains how exactly to 
                solve the transport of electricity itself through transmission networks, which are often 
                problematic, mostly belonging to private individuals.
                </p>
            </div>
        </div>

    </section> <!-- end s-electricity -->


    <!-- carolines
    ================================================== -->
    <section id="carolines" class="s-carolines target-section s-dark">

        <div class="row section-head">
            <div class="column large-3 medium-12" data-aos="fade-up">
                <h2>Caroline's blockchain demonstrator</h2>
            </div>
        </div> <!-- end section-head -->

        <!-- carolines Entries -->
        <div class="carolines-entries">

            <article class="carolines-entry" data-aos="fade-up">

                <div class="row carolines-entry__header">
                    <div class="carolines-entry__avatar">
                        <img src="/templates/create.png" alt="create" />
                    </div>

                    <div class="column large-9 w-1000-stack carolines-entry__title">
                        <h3 class="h2"><a href="/templates/read_0.html">Why was the app created?</a></h3>
                    </div>

                </div> <!-- end carolines-entry__header -->

                <div class="row">

                    <div class="column large-9 w-1000-stack carolines-entry__content">
                        <p>
                        Read something about Caroline's decision to create the app and it's purposes.<br>
                        <a href="/templates/read_0.html" class="more-link">Continue</a></p>
                    </div>

                </div>

            </article> <!-- end carolines-entry -->

            <article class="carolines-entry" data-aos="fade-up">

                <div class="row carolines-entry__header">
                    <div class="carolines-entry__avatar">
                        <img src="/templates/q.png" alt="q" />
                    </div>

                    <div class="column large-9 w-1000-stack carolines-entry__title">
                        <h3 class="h2"><a href="/templates/read_2.html">How to use it?</a></h3>
                    </div>

                </div> <!-- end carolines-entry__header -->

                <div class="row">

                    <div class="column large-9 w-1000-stack carolines-entry__content">
                        <p>
                        Learn to use the app properly in order to understand all the concepts
                        and be able to appreciate all the functionalities.<br>
                        <a href="/templates/read_1.html" class="more-link">Continue</a></p>
                    </div>

                </div>

            </article> <!-- end carolines-entry -->


            <article class="carolines-entry" data-aos="fade-up">

                <div class="row carolines-entry__header">
                    <div class="carolines-entry__avatar">
                        <img src="/templates/login.png" alt="login" />
                    </div>

                    <div class="column large-9 w-1000-stack carolines-entry__title">
                        <h3 class="h2"><a href="/login">
                           Ready to log in? 
                        </a></h3>
                    </div>

                </div> <!-- end carolines-entry__header -->

                <div class="row">

                    <div class="column large-9 w-1000-stack carolines-entry__content">
                        <p>
                        Log in to be able to use the practical part of the demonstrator.<br>
                        <a href="/login" class="more-link">Continue<i class="icon-angle-right"></i></a></p>
                    </div>

                </div>

            </article> <!-- end carolines-entry -->

        </div> <!-- end carolines entries -->

    </section> <!-- end s-carolines -->
    <!-- CTA
    ================================================== -->
    <section class="s-cta ss-dark">

        <div class="row heading-block heading-block--center" data-aos="fade-up">
            <div class="column">
                <h2 class="section-desc">
                    Wanna read Caroline's SOC work (Czech)?
                </h2>
            </div>
        </div> <!-- end heading-block -->

        <div class="row cta-content" data-aos="fade-up">
            <div class="column">
                <p>
                The demonstrator is a part of Caroline's SOC work. You can read the whitepaper
                (in Czech) by clicking below.
                </p>

                <a href="/templates/soc.pdf" class="btn h-full-width">Read</a>
            </div>
        </div> <!-- end ad-content -->

    </section> <!-- end s-cta -->

    <!-- footer
    ================================================== -->
    <footer class="s-footer">
        <div class="row">
            <div class="column large-4 medium-6 w-1000-stack s-footer__social-block">
                <ul class="s-footer__social">
                    <!-- <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li> -->
                    <li><a href="https://www.instagram.com/carolinedeutschundwir/"><i class="fab fa-instagram" aria-hidden="true">
                    </i> <span>Follow Caroline</span></a></li>
                    <!-- <li><a href="#0"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li> -->
                </ul>
            </div>

            <div class="column large-7 medium-6 w-1000-stack ss-copyright">
                <span>made by Karolina Podivinska 2021</span> 
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div>
        </div>

        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 4h12v2H6zm5 10v6h2v-6h5l-6-6-6 6z"/></svg>
            </a>
        </div> <!-- end ss-go-top -->
    </footer>


    <!-- Java Script
    ================================================== -->
    <script src="/templates/jquery-3.2.1.min.js"></script>
    <script src="/templates/plugins.js"></script>
    <script src="/templates/main.js"></script>

</body>

</html>