{% extends 'index.html' %}
{% block body %}
<div class="envelope">
    <header>WELCOME TO MY BLOCKCHAIN DEMONSTRATOR!</header>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <b>
        <p style="text-align: center; color:#1A4D5E; margin: 30px;">{{msg}}</p>
    </b>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <article style="text-align: center;">
        <p>To be able to use the demonstrator, login or create a new account, please:</p>
        <form action="#" method="POST">
            <input type="text" name="username" placeholder="username" required /><br /><br />
            <input type="password" name="password" placeholder="password" required /><br /><br />
            <input type="submit" value="LOGIN" />
        </form>
    </article>
    <footer><a href='/new_account'>Create a new account</a></footer>
</div>{% endblock %}