<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Caroline's blockchain demonstrator</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/templates/styles.css">
    <link rel="stylesheet" href="/templates/vendor.css">

    <!-- script
    ================================================== -->
    <script src="/templates/modernizr.js"></script>
    <script defer src="/templates/all.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="icon" type="image/png" sizes="16x16" href="/templates/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header s-header--carolines">
        <div class="row">

            <div class="s-header__logo">
                <a href="/templates/index.html">
        
                </a>
            </div>

            <nav class="s-header__nav">
                <ul>
                    <li><a href="/templates/index.html">Home</a></li>
                    <li><a href="/templates/read_0.html">Reading</a></li>
                    <li class="current"><a href="/login.html">Login</a></li>
                </ul>
            </nav>

            <a class="s-header__menu-toggle" href="" title="Menu">
                <span class="s-header__menu-icon"></span>
            </a>
       

        </div> <!-- end row -->
    </header> <!-- end s-header -->


    <!-- carolines content
    ================================================== -->
    
    <div class="carolines-content">

    <div class="row comment-respond"><!-- START respond -->
        <div id="respond" class="column">
            <h3>
            Log in
            <img src="/templates/favicon-16x16.png" width="100px" height="100px" alt="" align="right">
            </h3>   
            <small>Input your username and password to log in and be able to use the demonstrator.<small>

            <form name="contactForm" id="contactForm" method="post" action="" autocomplete="off">
                <fieldset>

                    <div class="form-field">
                        <input name="username" id="username" class="h-full-width h-remove-bottom" placeholder="Username" value="" type="text">
                    </div>

                    <div class="form-field">
                        <input name="password" id="password" class="h-full-width h-remove-bottom" placeholder="Password" value="" type="password">
                    </div>
                    <input method="POST" name="submit" id="submit" class="btn btn--primary btn-wide btn--large h-full-width" value="Login" type="submit">
                    Don't have an account yet?
                    <a href="/new_account"><input name="submit" id="submit2" class="btn btn--primary btn-wide btn--large h-full-width" value="Create an account" type="link"></a>


                </fieldset>
            </form> <!-- end form -->
{% with messages = get_flashed_messages() %} {% if messages %} {% for msg in messages %}
<b>{{msg}}</b>

{% endfor %} {% endif %} {% endwith %}
        </div><!-- END respond-->

     </div> <!-- end comment-respond -->
     </div>

    </div> <!-- end comments-wrap -->




    <!-- footer
    ================================================== -->
    <footer class="s-footer">
        <div class="row">
            <div class="column large-4 medium-6 w-1000-stack s-footer__social-block">
                <ul class="s-footer__social">
                    <!-- <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li> -->
                    <li><a href="https://www.instagram.com/carolinedeutschundwir/"><i class="fab fa-instagram" aria-hidden="true">
                    </i> <span>Follow Caroline</span></a></li>
                    <!-- <li><a href="#0"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li> -->
                </ul>
            </div>

            <div class="column large-7 medium-6 w-1000-stack ss-copyright">
                <span>made by Karolina Podivinska 2021</span> 
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div>
        </div>

        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 4h12v2H6zm5 10v6h2v-6h5l-6-6-6 6z"/></svg>
            </a>
        </div> <!-- end ss-go-top -->
    </footer>



    <!-- Java Script
    ================================================== -->
    <script src="/templates/jquery-3.2.1.min.js"></script>
    <script src="/templates/plugins.js"></script>
    <script src="/templates/main.js"></script>

</body>

</html>