<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Caroline's blockchain demonstrator</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/templates/styles.css">
    <link rel="stylesheet" href="/templates/vendor.css">

    <!-- script
    ================================================== -->
    <script src="/templates/modernizr.js"></script>
    <script defer src="/templates/all.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="icon" type="image/png" sizes="16x16" href="/templates/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header s-header--carolines">
        <div class="row">

            <div class="s-header__logo">
                <a href="/templates/index.html">
        
                </a>
            </div>

            <nav class="s-header__nav">
                <ul>
                    <li><a href="/templates/index.html">Home</a></li>
                    <li class="current"><a href="/templates/read_1.html">Reading</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>

            <a class="s-header__menu-toggle" href="" title="Menu">
                <span class="s-header__menu-icon"></span>
            </a>


        </div> <!-- end row -->
    </header> <!-- end s-header -->


    <!-- carolines content
    ================================================== -->
    <div class="carolines-content">

        <div class="row carolines-post-wrap">
            <div class="column large-12">

                <article class="carolines-post">

                    <div class="carolines-post__header">
                        <h1 class="carolines-post__title">A simple user manual</h1>
                        
                        <div class="carolines-post__meta">

                            <div class="carolines-post__date">May 24, 2021</div>
          
                         </div>
                    </div> <!-- carolines-post__header -->

                    <div class="carolines-post__content">
                    <p>
                        It is highly recommended to watch the <a href="https://www.youtube.com/watch?v=mIEM4X9-wqY">introduction video</a>
                        and static info form <a href="../">homepage</a> before using the app by yourself.
                        </p>
                    <img src="Screenshot 2021-05-24 at 21.52.10.png" title="homepage" alt="homepage">
                       <p>
                        You were able to find this article, which means you were able to run the app and go through
                        the homepage. That's a good start! Hope you enjoyed reading some static info about blockchain.
                        But now let's learn about some more dynamic features!
                        </p>
                        <h2>Reading page</h2>
                        <p>Now you're on the reading page. From here you can be simply redirected back to homepage,
                        to the second article (scroll down or click <a href="/templates/read_0.html">here</a>) or to the login page.</p>
                        <h2>Login & Profile page</h2>
                        <img src="Screenshot 2021-05-24 at 22.40.55.png" title="homepage" alt="homepage" style="border:1px solid">
                        <p>
                        The login page enables you to create an account, then log in and use more features.
                        </p>
                        <blockquote>
                        You can display almost all the pages
                        even if you aren't logged in (now you can try for instance <a href="../buy_electricity">this</a> or <a href="../carolines_blockchain">this</a>),
                        but aren't able to make post requests. </blockquote>
                        <p>
                        So the first step is simple – click Login, create an account and log in. Then you will be redirected
                        to the profile page, where you can find some info about yourself:</p>
                        <img src="Screenshot 2021-05-24 at 22.54.34.png" title="profile" alt="profile" style="border:1px solid">
                        <blockquote>
                        When you are logged in, go back to homepage and click Login, you are automatically redirected to the profile page. </blockquote>
                        <h2>Blockchain page</h2>
                        <img src="Screenshot 2021-05-24 at 22.57.11.png" title="blockchain" alt="blockchain" style="border:1px solid">
                        <p>
                        On the blockchain page the final blockchain is displayed. Nice, isn't it?
                        </p>
                        <h2>New transaction page</h2>
                        <img src="Screenshot 2021-05-24 at 23.04.23.png" title="new transaction" alt="new_transaction" style="border:1px solid">
                        <p>
                        On this page you can send a simple transaction to any other existing user. Input is very intuitive, just don't forget
                        to specify which coins you are sending. If you make a mistage, a flash message will occure and tell you, what have you
                        made wrong.
                        </p>
                        <h2>Blockchain page</h2>
                        <img src="Screenshot 2021-05-24 at 22.57.11.png" title="blockchain" alt="blockchain" style="border:1px solid">
                        <p>
                        On the blockchain page the final blockchain is displayed. Nice, isn't it?
                        </p>
                        <h2>Mine page</h2>
                        <img src="Screenshot 2021-05-24 at 23.07.19.png" title="new transaction" alt="new_transaction" style="border:1px solid">
                        <p>
                        Here the pending transactions are displayed. If there is at least five of them, you can click Mine these transactions button
                        and mine a new block. Awesome!
                        </p>
                        <blockquote>
                        Notice the differences between different types of transaction listing. Can you figure out the rules without
                        checking in the <a href="/templates/soc.pdf">SOC file</a> (yet just in Czech, I'm sorry)?</blockquote>
                        <p>
                        After adding a new block to the block, don't forget to check the updated <a href="../carolines_blockchain">Blockchain page</a>!
                        </p>
                        <h2>Sell page</h2>
                        <img src="Screenshot 2021-05-24 at 23.15.23.png" title="sell" alt="sell" style="border:1px solid">
                        <p>
                        You can also send some of your electricity coins (by default you get 10 of them after registration). The mechanism is 
                        simmilar to sending a simple transaction – input the amount of electricity tokens you want to sell, input the amount of 
                        money tokens you want to receive and click Create an offer button.
                        </p>
                        <blockquote>
                        Changed your mind with some offer? You can delete in on the <a href="/view_profile">profile page</a>.
                        Just scroll down, click Delete some offer, input the number of the offer you want to delete and click
                        the Delete button.</blockquote>
                        <img src="Screenshot 2021-05-24 at 23.24.46.png" title="delete" alt="delete" style="border:1px solid">
                        <h2>Buy page</h2>
                        <img src="Screenshot 2021-05-24 at 23.25.51.png" title="buy" alt="buy" style="border:1px solid">
                        <p>
                        The buy page is the place where the offers are displayed. Click the Buy button, input the number of the offer you want to
                        take advantage of and click the Buy button again.
                        </p>
                        <img src="Screenshot 2021-05-24 at 23.28.37.png" title="purchase" alt="purchase" style="border:1px solid">
                        <blockquote>
                        <b>24 May 2021 update:</b> Seems like Caroline lost the file with the right offer behavior, so the offers
                        aren't being removed after someone takes advantage of them or delete them. Caroline probably won't be able to fix this up to
                        12 June 2021; so please excuse this small mistake.</blockquote><br>
                        <blockquote>
                        <b>27 August 2021 update:</b> Some of the offer issues have been solved. Some features still aren't 100% functional.</blockquote>
                        <h2>Logout page</h2>
                        <p>
                        This doesn't need any special explanation, I guess – just click Logout and you'll see what happens.
                        </p>
                        <hr>
                        <h2><font color="#11abb0">That's it! Now you're fully able to use the app. Enjoy!</font></h2>
                        </large>





                    </div> <!-- end carolines-post__content -->

                </article> <!-- carolines post -->

            </div> <!-- column -->
        </div> <!-- end carolines-post-wrap -->

        <div class="carolines-post-nav-wrap">
            <div class="row carolines-post-nav">
            <div class="column large-6 tab-12 carolines-post-nav__next">
                    <a href="/templates/read_0.html" rel="next">
                    <br>
                        <span>Prev</span>
                        Why was the app created?
                    </a>
                </div>
                <div class="column large-6 tab-12 carolines-post-nav__next">
                    <a >
                    <center>
                    <br>
                        <img src="/templates/favicon-16x16.png" width="100px" alt="">
                        </center>
                    </a>
                </div>
            </div>
        </div> <!-- end carolines-post-nav-wrap -->

    </div> <!-- end carolines-content -->


    <!-- footer
    ================================================== -->
    <footer class="s-footer">
        <div class="row">
            <div class="column large-4 medium-6 w-1000-stack s-footer__social-block">
                <ul class="s-footer__social">
                    <!-- <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li> -->
                    <li><a href="https://www.instagram.com/carolinedeutschundwir/"><i class="fab fa-instagram" aria-hidden="true">
                    </i> <span>Follow Caroline</span></a></li>
                    <!-- <li><a href="#0"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li> -->
                </ul>
            </div>

            <div class="column large-7 medium-6 w-1000-stack ss-copyright">
                <span>made by Karolina Podivinska 2021</span> 
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div>
        </div>

        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 4h12v2H6zm5 10v6h2v-6h5l-6-6-6 6z"/></svg>
            </a>
        </div> <!-- end ss-go-top -->
    </footer>


    <!-- Java Script
    ================================================== -->
    <script src="/templates/jquery-3.2.1.min.js"></script>
    <script src="/templates/plugins.js"></script>
    <script src="/templates/main.js"></script>

</body>

</html>
