<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Caroline's blockchain demonstrator</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/templates/styles.css">
    <link rel="stylesheet" href="/templates/vendor.css">

    <!-- script
    ================================================== -->
    <script src="/templates/modernizr.js"></script>
    <script defer src="/templates/all.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="icon" type="image/png" sizes="16x16" href="/templates/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header s-header--carolines">
        <div class="row">

            <div class="s-header__logo">
                <a href="/templates/index.html">
        
                </a>
            </div>

            <nav class="s-header__nav">
                <ul>
                    <li><a href="/templates/index.html">Home</a></li>
                    <li class="current"><a href="/templates/read_1.html">Reading</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>

            <a class="s-header__menu-toggle" href="" title="Menu">
                <span class="s-header__menu-icon"></span>
            </a>


        </div> <!-- end row -->
    </header> <!-- end s-header -->


    <!-- carolines content
    ================================================== -->
    <div class="carolines-content">

        <div class="row carolines-post-wrap">
            <div class="column large-12">

                <article class="carolines-post">

                    <div class="carolines-post__header">
                        <h1 class="carolines-post__title">How to use the app?</h1>
                        
                        <div class="carolines-post__meta">

                            <div class="carolines-post__date">May 21, 2021</div>
          
                         </div>
                    </div> <!-- carolines-post__header -->

                    <div class="carolines-post__content">

                       <p>
                        There is a lot of talk about cryptocurrencies these days - perhaps there is no person 
                        who has not heard of one. However, many such people do not realize that the use of blockchain 
                        extends to other industries and often do not even understand the technology behind the cryptocurrencies
                         - blockchain. This makes people confused, distrustful and so they don't know what to think about it all. 
                         They can also fall victim to fraudsters in the area. This application should help users to understand at 
                         least the basic principles of blockchain technology to get some basic knowledge in order to be objective 
                         and able to avoid such uncomfortable situations.
                        </p>
                        
                        <p>
                        The app was created by a high school student Karolina Podivinska as a practical part of her SOC work.
                        It should be able to bring people closer to how blockchain technology works.
                        For these purposes, the application combines two types of education - a theoretical 
                        summary of functionality and the demonstrator itself, where each user can experience 
                        first-hand what it is like to work with blockchain, send an illustration transaction, etc.
                        </p>

                       <p class="lead drop-cap">
                        The main purpose of the app is to show how blockchain technology works, both
                        both in basic theoretical and practical form.
                        </p><br>

                        <p>
                        The source codes are freely available on <a href="https://github.com/Caroline2/blockchain_demonstrator">github</a>
                        so that every user can view, download and try to run them or just be inspired by them to create his/her own application.
                        </p>

                        <p>
                        The whole SOC work can be read here <a href="/templates/soc.pdf">here</a>, unfortunately only in Czech.
                        However, there is also a YouTube video summarizing the work available at <a href="https://www.youtube.com/watch?v=rXf536dmE4M">
                        this link</a>, which has English subtitles. In the short video Karolina speaks about some technological properties
                        of blockchain, but also shows the app and talks about her motivation, too.
                        </p>

                        <blockquote>
                            <p>
                            From the beginning I knew I want to write my work in the field of mathematics
                            or informatics and during browsing the jcmm web I discovered the topic of blockchain.
                            I was interested for two reasons – I knew I would have to create my own product
                            and also wanted to learn about blockchain because by the time I knew anything about it.
                            </p>
                            <cite>Karolina Podivinska</cite>
                        </blockquote>

                    </div> <!-- end carolines-post__content -->

                </article> <!-- carolines post -->

            </div> <!-- column -->
        </div> <!-- end carolines-post-wrap -->

        <div class="carolines-post-nav-wrap">
            <div class="row carolines-post-nav">
            <div class="column large-6 tab-12 carolines-post-nav__next">
                    <a href="/templates/read_0.html" rel="next">
                    <br>
                        <span>Prev</span>
                        Why was the app created?
                    </a>
                </div>
                <div class="column large-6 tab-12 carolines-post-nav__next">
                    <a >
                    <center>
                    <br>
                        <img src="/templates/favicon-16x16.png" width="100px" alt="">
                        </center>
                    </a>
                </div>
            </div>
        </div> <!-- end carolines-post-nav-wrap -->

    </div> <!-- end carolines-content -->


    <!-- footer
    ================================================== -->
    <footer class="s-footer">
        <div class="row">
            <div class="column large-4 medium-6 w-1000-stack s-footer__social-block">
                <ul class="s-footer__social">
                    <!-- <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li> -->
                    <li><a href="https://www.instagram.com/carolinedeutschundwir/"><i class="fab fa-instagram" aria-hidden="true">
                    </i> <span>Follow Caroline</span></a></li>
                    <!-- <li><a href="#0"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li> -->
                </ul>
            </div>

            <div class="column large-7 medium-6 w-1000-stack ss-copyright">
                <span>made by Karolina Podivinska 2021</span> 
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div>
        </div>

        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 4h12v2H6zm5 10v6h2v-6h5l-6-6-6 6z"/></svg>
            </a>
        </div> <!-- end ss-go-top -->
    </footer>


    <!-- Java Script
    ================================================== -->
    <script src="/templates/jquery-3.2.1.min.js"></script>
    <script src="/templates/plugins.js"></script>
    <script src="/templates/main.js"></script>

</body>

</html>