{% extends 'index.html' %}
{% block body %}
<div class=" envelope">
    <header>Submit a transaction</header>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <b>
        <p style="text-align: center; color:#1A4D5E; margin: 30px;">{{msg}}</p>
    </b>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <article style="text-align: center;">
        <p>This is an easy form for submitting a new transaction. Type the receiver of your transaction and then the
            amount of money you want to send (decimal numbers allowed)<br /><br /><b style="color:rgb(124, 8, 8)">Be
                carefull, this action is irreversible. Reciever's address is case
                sensitive.</b></p><br />
        <form action="#" method="POST">
            <input type="text" name="to" placeholder="receiver" required /><br /><br />
            <input type="number" step=any min=0.0001 name="how_much" placeholder="amount of coins"
                required /><br /><br />
            <select name="commodity" size="1" style="width: auto">
                <option value="money">Money</option>
                <option value="electricity">Electricity</option>
            </select>
            <input type="submit" value="SEND" /><br /><br />
        </form>
    </article>
    <footer><a href='/index'>Back to homepage</a></footer>
</div>{% endblock %}