{% extends 'index.html' %}
{% block body %}<div class=" envelope">
    <header>My profile</header>
    <article style="text-align: center;">
        Here you can find some info about yourself.<br />
        Your password is stored in a safe hashed form. The only changing data
        is your balance.<br />
        <b style="color: rgb(124, 8, 8);"><br />Remember, once you loose your
            password, the
            account will never be returned to you.<br />
            There is (currently) no option to recover it for you.</b><br />
        <br /><br />
        <b style="color: #16404e;">username: </b>{{content[0]}}<br /><br />
        <b style="color: #16404e;">password: </b>{{content[1]}}<br /><br />
        <b style="color: #16404e;">money balance: </b>{{content[2]}}<br /><br />
        <b style="color: #16404e;">electricity balance: </b>{{content[3]}}<br /><br />
        <b style="color: #16404e;">public key: </b>{{content[4]}}<br /><br />
        <b style="color: #16404e;">your offers: </b><br /><br />
        {% for _ in content[5] %}
        {{_}}<br /><br />
        {% endfor %}
        <a href='/delete_offer'>Delete some offer</a>
    </article>
    <footer><a href='/index'>Back to homepage</a></footer>
    {% endblock %}